@use "vars" as *;
@use "colors" as *;

body.dark_theme {
    #root>header {
        svg {
            .filled {
                fill: currentColor
            }

            .second {
                stroke: transparent;
            }
        }
    }
}

#root {
    &>* {
        width: 100%;
    }

    &>header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        height: 80px;
        background-color: $bodyCard;
        box-shadow: 0 -36px 36px 36px rgba(0, 0, 0, 0.12);
        transition: $transition;

        .theme_toggle {
            @include user-select-none;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            gap: 1.5rem;

            svg path {
                transition: $transition;
            }

        }

        h1 {
            margin: 0;
            font-size: 20px;
        }
    }
}

@keyframes in-bkg {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    10% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
        transform: scale(1.25);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

main {
    max-height: calc(100% - 80px);
    overflow: auto;
    padding: 48px;

    .countries_list {
        display: grid;
        gap: 72px;
        grid-template-columns: repeat(5, 1fr);
    }

    .card_element {
        box-shadow: 0 4px 16px -16px #000;
        border-radius: 12px;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: scale(0);

        &[data-loaded="true"] {
            opacity: 1;
            animation: in-bkg 0.3s ease-in forwards;
        }

        // animation: in-bkg 0.5s ease-in forwards;

        &.load_card {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 270px;
            background-color: $bodyCard;

            .loader {
                opacity: 0.5;
            }
        }

        h2,
        h3 {
            margin: 0;
        }

        .flag {
            position: relative;
            display: flex;

            &:before {
                content: "";
                position: absolute;
                display: flex;
                inset: 0;
                background-color: $bodyCard;
                $filter: brightness(0.8);
                filter: $filter;
            }

            .flag_img.load_card {
                position: absolute;
                inset: 0;
                display: flex;
                aspect-ratio: 3/2;
                width: 100%;
                height: auto;
                align-items: center;
                justify-content: center;
            }

            img {
                width: 100%;
                height: auto;
                aspect-ratio: 3/2;
                object-fit: contain;
                position: relative;
            }
        }

        .info {
            background-color: $bodyCard;
            border-radius: 0 0 12px 12px;
            padding: 24px;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: space-between;
        }

        ul {
            list-style: none;
            padding-inline-start: 0;

            li {
                h3 {
                    font-size: 1em;
                }

                display: flex;
                gap:0.25em
            }
        }
    }
}
.form_search{
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    :focus,:active:focus-visible{
        outline: none;
        border:none;
    }
    input,select{
        width: 100%;
        padding: 0 24px;
        height:56px;
        outline: none;
        border:none;
        background-color: $bodyCard;
        color:inherit;
        font:inherit;
        appearance: none;
        -webkit-appearance: none;
    }
    &>div{
        display: flex;
        width: 100%;
        position: relative;
        box-shadow: 0 4px 16px  rgba(0, 0, 0, 0.06);
    }
    .search{
        max-width: 480px;
    }
    .select{
        max-width: 200px;
        display: flex;
    }
}

@media (max-width:$large_desktop) {
    main {
        .countries_list {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media (max-width:$medium_desktop) {
    main {
        .countries_list {
            gap: 48px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width:$tablet_break) {
    main {
        .countries_list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width:$mobile_break) {
    main {
        padding: 24px;

        .countries_list {
            gap: 24px;
            grid-template-columns: 1fr;
        }
    }
}